body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	text-align: center;
	margin: 0;
	background-image: url('background.jpg');
	background-size: cover;
	color: #ffffff;
	height: 480px;
}
.jumbotron .row h1 {
	font-size: 150px;
	font-weight: bold;
}
.jumbotron .row h3 {
	font-style: italic;
}
.bar {
	padding-top: 5px;
	text-align: center;
	align-items: center;
	margin: 0;
	background-color: rgba(13,42,183,.45);
}
.bar:hover {
	background-color: rgba(13,42,183,.6);
}
.bar .row img {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 80px;
}
.bar .row h3 {
	align-items: center;
	font-size: 30px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.bar .row h3:hover {
	color: black;
}
.profile {
	text-align: center;
	background-image: url('mississauga.jpg');
	background-size: cover;
	margin: 0;
}
.profile .row img {
	margin: 20px;
	height: 400px;
}
.profile .row .text {
	background-color: rgba(255,255,255,.65);
}
.profile .row .text h2 {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin-top: 40px;
	padding-top: 30px;
	padding bottom:10px;
	text-align: center;
}
.profile .row .text h3 {
	text-align: left;
	margin-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}
.foot {
	text-align: center;
	background-color: rgba(13,42,183,.45);
	background-size: cover;
	margin: 0;
}
.foot p {
	text-align: left;
	font-size:15px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
}
footer {
	position: relative;
	width: 100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  	color: white;
}

footer ul {
	text-align: right;
	position: relative;
	width: 100%;
	margin: 0px;
    padding: 0px;
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
footer ul img {
	margin: 10px;
}
