body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	font-family: 'Roboto', "Lato";
}
.hide {
	display: none;
}


@media (max-width: 905px) {
	.jumbotron {
		text-align: center;
		margin: 0;
		background-image: url('home background.jpg');
		background-size: cover;
		color: #ffffff;
		height: 80%;
		width: 100%;
	}
	.jumbotron .row h1 {
		margin-top: 10%;
		font-size: 150px;
		font-weight: bold;
	}
	.jumbotron .row h3 {
		font-size: 30px;
		font-style: italic;
	}
	.bar .row img {
		display:none;
	}
	
}
@media (min-width: 905px) {
	.jumbotron {
		text-align: center;
		margin: 0;
		background-image: url('home background.jpg');
		background-size: cover;
		color: #ffffff;
		height: 90%;
		width: 100%;
	}
	.jumbotron .row h1 {
		margin-top: 10%;
		font-size: 200px;
		font-weight: bold;
	}
	.jumbotron .row h3 {
		font-size: 50px;
		font-style: italic;
	}
	.bar .row img {
		text-align: right;
		padding-top: 5px;
		padding-bottom: 5px;
		height: 80px;
	}
}

.bar {
	padding-top: 5px;
	text-align: center;
	align-items: center;
	margin: 0;
	background-color: #1faaef;
}
.bar:hover {
	background-color: #008dd3;
}

.bar .row h3 {
	align-items: center;
	font-size: 30px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.bar a:link
{
   color: white;
   text-decoration: none;
}
.bar a:visited
{
   color: white;
   text-decoration: none;
}
.bar a:hover
{
   color: #2B0A0A;
   transition: 0.3s;
   text-decoration: none;
}
.bar a:active
{
   color: white;
   text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008dd3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.4s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media (max-width: 977px) {
	.profile {
		height: 100%;
		text-align: center;
		background-size: cover;
		margin: 0;
	}
}
@media (min-width: 977px) {
	.profile {
		height: 75%;
		text-align: center;
		background-size: cover;
		margin: 0;
	}
}


@media (max-width: 640px) {
	.profile .row img {
			margin: 2px;
			height: 380px;
	}
}
@media (min-width: 640px) {
	.profile .row img {
		margin: 20px;
		height: 400px;
	}
}
.profile .row .text {
	background-color: #1faaef;
	color: white;
}
.profile .row .text h2 {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin-top: 20px;
	padding-top: 20px;
	padding bottom:10px;
	text-align: center;
}
.profile .row .text h3 {
	text-align: left;
	margin-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}
.achievements {
	text-align: center;
	margin: 0;
	background-color: #1faaef;
	background-size: cover;
	color: #ffffff;
}
.achievements .row h1 {
	font-size: 150px;
	font-weight: bold;
}
.achievements .row h2 {
	display: inline-flex;
	font-size: 60px;
	font-weight: bold;
}

.gallery {
	margin-top: 20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery .gallery-item {
  	margin: 20px;
}

.gallery .gallery-item .thumbnail {
	opacity: 0.8;
  	border: 5px solid #fff;
}
.closebutton {
	font-weight: bold;
	color: black;
	font-size: 2.5rem;
	float: right;
	margin-right: 1rem;
}
.closebutton:hover {
	color: #008dd3;
	text-decoration: none;
	transition: 0.4s;
}
.academicsinfo {
	margin: 2rem;
	text-align: left;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.academicsinfo h1 {
	text-align: center;
	color: black;
	font-size: 8rem;
}
.academicsinfo p {
	padding-left: 2rem;
	color: black;
	font-size: 2rem;
	margin: 0.5rem;
}
.academicsinfo ul {
	color: black;
	padding-left: 5rem;
	text-align: left;
}
.academicsinfo ul li {
	color: black;
	font-size: 2rem;
	text-align: left;
}
.sportsinfo {
	margin: 2rem;
	text-align: center;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.sportsinfo h1 {
	color: black;
	font-size: 8rem;
}
.extrainfo {
	margin: 2rem;
	text-align: center;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.extrainfo h1 {
	color: black;
	font-size: 7rem;
}

.foot {
	text-align: center;
	background-color: #008dd3;
	background-size: cover;
	margin: 0;
}
.foot p {
	text-align: left;
	font-size:15px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
}
footer {
	position: relative;
	width: 100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  	color: white;
}

footer ul {
	text-align: right;
	position: relative;
	width: 100%;
	margin: 0px;
    padding: 0px;
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
footer ul img {
	margin: 10px;
}
