*{
    padding: 0;
    margin: 0;
}
body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
	font-family: 'Roboto', "Lato";
/*	background-color: #1faaef;*/
}
.hide {
	display: none;
}
.jumbotron {
	text-align: center;
	margin: 0;
	background-image: url('home background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	width: 100%;
}
.jumbotron .row h1 {
	margin-top: 18vh;
	font-size: 12vw;
	font-weight: bold;
}
.jumbotron .row h3 {
	color: white;
	font-size: 4vw;
	font-style: italic;
}
@media only screen and (max-device-width: 1366px) {
	/* Turn off parallax scrolling for all tablets and phones.*/
  .jumbotron {
    background-attachment: scroll;
  }
  .profile {
    background-attachment: scroll;
  }
  .project-gallery {
    background-attachment: scroll;
  }
  .achievements-gallery {
    background-attachment: scroll;
  }
  .resume-text {
    background-attachment: scroll;
  }
  /* change sidenav font size */
  .sidenav {
  	padding-top: 15px;
  }
  .sidenav a {
  	font-size: 2rem;
  }
  .sidenav .closebtn {
  	font-size: 3rem;
  }
}
@media (min-height:860px) {
	.jumbotron {
		height: 89%;
	}
}
@media (max-height:860px) {
	.jumbotron {
		height: 86%;
	}
}
@media (max-width: 800px) {
	.bar .row img {
		display:none;
	}
}
@media (min-width: 800px) {
	
	.bar .row img {
		padding-top: 5px;
		padding-bottom: 5px;
		height: 80px;
	}
}

.bar {
	padding-top: 5px;
	text-align: center;
	align-items: center;
	margin: 0;
	background-color: #1faaef;
	transition: 0.3s;
}
.bar:hover {
	background-color: #008dd3;
}

.bar .row h3 {
	align-items: center;
	font-size: 2rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.bar a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
}
.bar a:hover
{
   color: #2B0A0A;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008dd3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
    display: block;
    transition: 0.4s;
}
.sidenav a:hover {
    color: black;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.7rem;
    margin-left: 50px;
}
.profile {
	padding-top: 20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url("profile background.JPG");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile .me {
	margin: 10px;
	height: 450px;
}

.profile .text {
	width: 550px;
	color: white;
	margin: 2rem;
}
.profile .text h2 {
	background-color: #1faaef;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 5rem;
	padding: 10px;
}
.profile .text h3 {
	background-color: #1faaef;
	font-size: 2rem;
	text-align: left;
	padding: 20px;
	margin-bottom: 2rem;
}

.projects {
	text-align: center;
	margin: 0;
	background-color: #1faaef;
	background-size: cover;
}
.projects h1 {
	color: #ffffff;
	font-size: 10vw;
	font-weight: bold;
}

.achievements {
	text-align: center;
	background-color: #1faaef;
}
.achievements h1 {
	color: #ffffff;
	font-size: 10vw;
	font-weight: bold;
}

.projects-gallery {
	padding-top: 20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url("projects background.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.achievements-gallery {
	padding-top: 20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url("achievements background.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.gallery-item {
  	margin: 25px;
}

.gallery-item .thumbnail {
	opacity: 0.9;
}

.closebutton {
	font-weight: bold;
	color: black;
	font-size: 2.5rem;
	float: right;
	margin-right: 1rem;
}
.closebutton:hover {
	color: #008dd3;
	text-decoration: none;
	transition: 0.4s;
}

.academicsinfo {
	margin: 2rem;
	text-align: left;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.academicsinfo h2 {
	text-align: center;
	color: black;
	font-size: 8rem;
}
.academicsinfo p {
	padding-left: 20%;
	padding-right: 20%;
	color: black;
	font-size: 2rem;
	margin: 0.5rem;
}
.academicsinfo ul {
	padding-left: 25%;
	color: black;
	text-align: left;
}
.academicsinfo ul li {

	color: black;
	font-size: 2rem;
	text-align: left;
}
.sportsinfo {
	margin: 2rem;
	text-align: left;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.sportsinfo h2 {
	text-align: center;
	color: black;
	font-size: 8rem;
}
.sportsinfo p {
	padding-left: 20%;
	padding-right: 20%;
	color: black;
	font-size: 2rem;
	margin: 0.5rem;
}

.extrainfo {
	margin: 2rem;
	text-align: left;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.extrainfo h2 {
	text-align: center;
	color: black;
	font-size: 7rem;
}
.extrainfo p {
	padding-left: 20%;
	padding-right: 20%;
	color: black;
	font-size: 2rem;
	margin: 0.5rem;
}

.resume {
	text-align: center;
	background-color: #1faaef;
}
.resume h1{
	font-size: 10vw;
	font-weight: bold;
	color: #ffffff;
	background-color: #1faaef;

}
.resume a{
	text-decoration: underline;
	color: black;
	transition: 0.3s;
}
.resume a:hover{
	text-decoration: none;
	color: #06509b;
}
.resume .resume-text {
	background-image: url("resume background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.resume h2{
	color: black;
	font-size: 3vw;
	padding:5%;
}

.resumebutton {
	font-family: 'Montserrat', sans-serif;
    background-color: #1faaef;
    border-style: solid;
    border-width: 0.4rem;
    border-color:#06509b;
    color: white;
    padding: 15px 25px;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
}
.resumebutton:hover {
    background-color: #06509b;
}

.foot {
	text-align: center;
	background-color: #008dd3;
	background-size: cover;
	margin: 0;
}
.foot p {
	text-align: left;
	font-size:15px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
}
footer {
	position: relative;
	width: 100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  	color: white;
  	text-align: center;
}
footer .logo{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 70px;
}
footer ul {
	text-align: right;
	position: relative;
	width: 100%;
	margin: 0px;
    padding: 0px;
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
footer ul img {
	margin: 10px;
}
