body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	font-family: 'Roboto', "Lato";
}
.hide {
	display: none;
}
.jumbotron {
	text-align: center;
	margin: 0;
	background-image: url('home background.jpg');
	background-size: cover;
	color: #ffffff;
	height: 90%;
	width: 100%;
}
.jumbotron .row h1 {
	margin-top: 18vh;
	font-size: 12vw;
	font-weight: bold;
}
.jumbotron .row h3 {
	font-size: 4vw;
	font-style: italic;
}
@media (max-width: 800px) {
	.jumbotron {
		height: 80%;
		width: 100%;
	}
	.bar .row img {
		display:none;
	}
}
@media (min-width: 800px) {
	.jumbotron {
		height: 90%;
		width: 100%;
	}
	.bar .row img {
		text-align: right;
		padding-top: 5px;
		padding-bottom: 5px;
		height: 80px;
	}
}

.bar {
	padding-top: 5px;
	text-align: center;
	align-items: center;
	margin: 0;
	background-color: #1faaef;
	transition: 0.3s;
}
.bar:hover {
	background-color: #008dd3;
}

.bar .row h3 {
	align-items: center;
	font-size: 2rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.bar a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
}
.bar a:hover
{
   color: #2B0A0A;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008dd3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    display: block;
    transition: 0.4s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 4vh;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.profile {
	margin-top: 20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.profile .me {
	margin: 10px;
	height: 450px;
}

.profile .text {
	width: 550px;
	color: white;
	margin: 2rem;
}
.profile .text h2 {
	background-color: #1faaef;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 5rem;
	padding: 10px;
}
.profile .text h3 {
	background-color: #1faaef;
	font-size: 2rem;
	text-align: left;
	padding: 20px;
	margin-bottom: 2rem;
}
.projects {
	text-align: center;
	margin: 0;
	background-color: #1faaef;
	background-size: cover;
	color: #ffffff;
}
.projects h1 {
	font-size: 10rem;
	font-weight: bold;
}

.achievements {
	text-align: center;
	margin: 0;
	background-color: #1faaef;
	background-size: cover;
	color: #ffffff;
}
.achievements h1 {
	font-size: 10rem;
	font-weight: bold;
}

.gallery {
	margin-top: 20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery .gallery-item {
  	margin: 20px;
}

.gallery .gallery-item .thumbnail {
	opacity: 0.9;
  	border: 5px solid #fff;
}
.closebutton {
	font-weight: bold;
	color: black;
	font-size: 2.5rem;
	float: right;
	margin-right: 1rem;
}
.closebutton:hover {
	color: #008dd3;
	text-decoration: none;
	transition: 0.4s;
}
.academicsinfo {
	margin: 2rem;
	text-align: left;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.academicsinfo h1 {
	text-align: center;
	color: black;
	font-size: 8rem;
}
.academicsinfo p {
	padding-left: 2rem;
	color: black;
	font-size: 2rem;
	margin: 0.5rem;
}
.academicsinfo ul {
	color: black;
	padding-left: 5rem;
	text-align: left;
}
.academicsinfo ul li {
	color: black;
	font-size: 2rem;
	text-align: left;
}
.sportsinfo {
	margin: 2rem;
	text-align: left;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.sportsinfo h1 {
	text-align: center;
	color: black;
	font-size: 8rem;
}
.sportsinfo p {
	padding-left: 2rem;
	color: black;
	font-size: 2rem;
	margin: 0.5rem;
}
.extrainfo {
	margin: 2rem;
	text-align: left;
	width:100%-2rem;
	color: white;
	border-style: solid;
    border-width: 1rem;
    border-color:#008dd3;
	background-color: white;
}
.extrainfo h1 {
	text-align: center;
	color: black;
	font-size: 7rem;
}
.extrainfo {
	padding-left: 2rem;
	color: black;
	font-size: 2rem;
	margin: 0.5rem;
}
.resume {
	background-color: #1faaef;
	width: 100%;
	text-align: center;
}
.resume h1{
	font-size: 10rem;
	font-weight: bold;
	color: white;
}
.resume a{
	transition: 0.3s;
}
.resume a:hover{
	text-decoration: none;
	color: #06509b;
}
.resume h2{
	color: white;
	font-size: 4rem;
	margin-left:15%;
	margin-right: 15%;
	padding-bottom: 2.5%;
}
.resumebutton {
	font-family: 'Montserrat', sans-serif;
    background-color: #1faaef;
    border-style: solid;
    border-width: 0.4rem;
    border-color:#06509b;
    color: white;
    padding: 15px 25px;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
}
.resumebutton:hover {
    background-color: #06509b;
}
.foot {
	text-align: center;
	background-color: #008dd3;
	background-size: cover;
	margin: 0;
}
.foot p {
	text-align: left;
	font-size:15px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
}
footer {
	position: relative;
	width: 100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  	color: white;
}

footer ul {
	text-align: right;
	position: relative;
	width: 100%;
	margin: 0px;
    padding: 0px;
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
footer ul img {
	margin: 10px;
}
